<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- 
    <arg name="world" default="empty"></arg>
    <arg name="ign_args" default=""></arg>

    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
        <arg name="ign_args" value="-r -v 3 $(arg world).sdf"></arg>
    </include>

    <param name="robot_description" textfile="$(find amr_description)/urdf/amr.urdf"></param>

    <node
        pkg="ros_ign_gazebo"
        type="create"
        name="$(anon ros_ign_create_amr)"
        output="screen"
        args="-world $(arg world) -param robot_description -name spawned_amr -allow_renaming true">
    </node>
    -->
    <param name="robot_description" textfile="$(find amr_description)/urdf/amr_gazebo.urdf"></param>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node 
        name="spawn_urdf" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        args="-unpause -urdf -model amr -param robot_description -x 0.0 -y 0.0 -z 0.0">
    </node>

    <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  
    <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

    <param name="use_sim_time" value="true"></param>
     
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="log">
        <param name="max_update_interval" value="2.0"></param>
        <param name="maxUrange" value="29.0"></param>
        <param name="sigma" value="0.05"></param>
        <param name="max_update_interval" value="2.0"></param>
        <param name="kernelSize" value="1"></param>
        <param name="lstep" value="0.05"></param>
        <param name="astep" value="0.05"></param>
        <param name="iterations" value="20"></param>
        <param name="lsigma" value="0.075"></param>
        <param name="ogain" value="3.0"></param>
        <param name="lskip" value="0"></param>
        <param name="srr" value="0.1"></param>
        <param name="srt" value="0.2"></param>
        <param name="str" value="0.1"></param>
        <param name="stt" value="0.2"></param>
        <param name="linearUpdate" value="-0.01"></param>
        <param name="angularUpdate" value="-0.005"></param>
        <param name="temporalUpdate" value="0.0"></param>
        <param name="resampleThreshold" value="0.5"></param>
        <param name="particles" value="2"></param>
        <param name="xmin" value="-10.0"></param>
        <param name="ymin" value="-10.0"></param>
        <param name="xmax" value="10.0"></param>
        <param name="ymax" value="10.0"></param>
        <param name="delta" value="0.05"></param>
        <param name="llsamplerange" value="0.01"></param>
        <param name="llsamplestep" value="0.01"></param>
        <param name="lasamplerange" value="0.005"></param>
        <param name="lasamplestep" value="0.005"></param>
    </node>
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="log">
        <rosparam command="load" file="$(find amr_sim)/param/amr_ekf_params.yaml"></rosparam>
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"></param>
        <rosparam file="$(find amr_sim)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find amr_sim)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find amr_sim)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find amr_sim)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find amr_sim)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find amr_sim)/param/dwa_local_planner_params.yaml" command="load" />
    </node>

    <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find amr_description)/rviz/amr.rviz" />

</launch>