<?xml version="1.0" encoding="UTF-8"?>

<launch>

        
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
      <param name="ip_address" value=""/>
      <param name="serial_port" value="/dev/ttyACM0"/>
      <param name="serial_baud" value="115200"/>
      <param name="frame_id" value="hokuyo_link"/>
      <param name="calibrate_time" value="true"/>
      <param name="publish_intensity" value="false"/>
      <param name="publish_multiecho" value="false"/>
      <!-- <param name="angle_min" value="-1.5707963"/>
      <param name="angle_max" value="1.5707963"/> -->
      <param name="angle_min" value="-2.0943951"/>
      <param name="angle_max" value="2.0943951"/>
    </node>
        
    <!-- <include file="$(find amr_mapping)/launch/amr_laser_scan_matcher.launch"></include> -->
    <!-- <include file="$(find amr_mapping)/launch/amr_gmapping.launch"></include> -->
    <include file="$(find amr_mapping)/launch/hector_mapping.launch"></include>
   <!--  <include file="$(find amr_mapping)/launch/amr_laser_scan_matcher.launch"></include> -->

</launch>